system:
You are a helpfull assistant.
Your task is to extract only the name of the guest from the following interview transcript.
Riedwaan Bassadien is the Host, so he will never be the guest.

user:
{{transcript}}

system:
Guest: